header {
    display: flex;
    align-items: flex-start;
    background-color: var(--color-neutral-1);
    box-shadow: 0 4px 20px -4px rgba(0, 0, 0, 0.25);
    z-index: 9;
    position: relative;
}

.start-header {
    width: 50%;
    display: flex;
    gap: 30px;
    padding: 20px 0 20px 4vw;
}

.start-header .logo img {
    width: 180px;
    height: auto;
}

.titulos-logo {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
