header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: var(--color-neutral-1);
    box-shadow: 0 4px 20px -4px rgba(0, 0, 0, 0.25);
    z-index: 999;
    position: relative;
    padding: 12px 0px;
    flex-wrap: wrap;
    width: 100%;
}

header img {
    width: 130px;
    max-width: 18%;
    height: auto;
    margin: 18px 18px;
}

.header-content {
    display: flex;
    flex-direction: column;
    margin: 18px 0px;
    gap: 20px;
}

@media (max-width: 600px) {
    header img { max-width: 28%; margin: 12px; }
    .header-content { margin: 8px 12px; }
    .titulos { font-size: 1.2rem; }
}

