#pre-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0px;
    gap: 40px;
}

#pre-footer img {
    max-width: 140px;
    max-height: 140px;
}

#pre-footer h1 {
    font-weight: 375;
    color: var(--color-primary-1);
    font-size: 1.4rem;
}

@media (max-width: 470px) {
    #pre-footer { margin: 30px 30px; }
    #pre-footer h1 { font-size: 1.2rem; }
    #pre-footer img { max-width: 120px; max-height: 120px; }
}