.img-todos-os-posts {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-todos-os-posts img {
    max-width: 400px;
    margin: 20px 0px 30px 0px;
}

.todosOsPosts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    margin: 0px 250px 30px 250px;
    gap: 30px;
}

.artigo-todos-os-artigos {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Faz o conteúdo ocupar toda a altura */
    padding: 15px;
    border: 1px solid #ccc; /* opcional: deixa cada card destacado */
    box-sizing: border-box;
    height: 100%; /* Faz os cards crescerem uniformemente no grid */
    max-width: 450px;
}

.artigo-todos-os-artigos img {
    width: 100%; /* Faz a imagem ocupar toda a largura do card */
    height: 100%;
    object-fit: cover;
}

.ler-artigo-btn {
    display: flex;
    justify-content: center;
}

.ler-artigo-btn button {
    padding: 8px 12px;
    background: var(--color-neutral-4);
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background 0.2s;
    align-items: center;
    margin-top: 10px;
}

.ler-artigo-btn button:hover{
    background: var(--color-primary-4);
}

.header-artigo-todos {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Espaça a data e o botão */
}

.header-artigo-todos p {
    color: var(--color-primary-1);
    font-size: 0.95rem;
    font-weight: 400;
}

.titulo-artigo-todos {
    font-size: 1.2rem;
    color: var(--color-primary-1);
    font-weight: 425;
    margin-bottom: 10px;
}

.descricao-artigo-todos {
    font-size: 1.05rem;
    color: var(--color-primary-1);
    font-weight: 350;
}

@media (max-width: 950px) {
    .todosOsPosts {
        margin: 0px 150px 30px 150px;
}
}

@media (max-width: 768px) {
    .todosOsPosts {
        grid-template-columns: 1fr;
        margin: 0px 100px 30px 100px;
    }
}

@media (max-width: 450px) {
    .img-todos-os-posts img {
        max-width: 300px;
}
    .todosOsPosts {
        grid-template-columns: 1fr;
        margin: 0px 10px 30px 10px;
    }

    .header-artigo-todos p {
    color: var(--color-primary-1);
    font-size: 0.75rem;
    font-weight: 380;
    }

    .titulo-artigo-todos {
        font-size: 1rem;
        color: var(--color-primary-1);
        font-weight: 415;
        margin-bottom: 10px;
    }

    .descricao-artigo-todos {
        font-size: 0.8rem;
        color: var(--color-primary-1);
        font-weight: 350;
    }
}
